accelerate==0.27.2
datasets==2.20.0
dill==0.3.8
h5py 
hdf5==1.14.3
huggingface-hub==0.24.5
matplotlib-inline 
multiprocess==0.70.16
nltk 
numpy 
pandas==2.2.2
peft==0.9.0
pillow==10.2.0
pyarrow==16.1.0
pyarrow-hotfix==0.6
python==3.10.9
rapidfuzz==3.8.1
regex==2023.12.25
safetensors==0.4.2
scikit-learn==1.4.1.post1
scipy==1.12.0
sentence-transformers==2.5.1
sentencepiece==0.2.0
sympy 
thefuzz==0.22.1
threadpoolctl==3.3.0
tokenizers==0.19.1
torch==2.2.1
tqdm==4.66.4
transformers==4.43.3
vllm==0.4.1
